# {{ ansible_managed }}

{% if rsync_globals is defined %}
# GLOBALS

{% for key in rsync_globals.keys()|sort %}
{{ key }} = {{ rsync_globals[key] }}
{% endfor %}

{% endif %}
# MODULES

{% for module in rsync_modules %}
[{{ module.name }}]
{% for key in module|sort if key != "name" %}
  {{ key }} = {{ module[key] }}
{% endfor %}

{% endfor %}
