# {{ ansible_managed }}

{% if rsync_globals is defined %}
# GLOBALS

{% for key in rsync_globals.keys()|sort %}
{{ key }} = {{ rsync_globals[key] }}
{% endfor %}

{% endif %}
# MODULES

{% for module in rsync_modules|sort %}
[{{ module }}]
{% for key in rsync_modules[module].keys()|sort %}
  {{ key }} = {{ rsync_modules[module][key] }}
{% endfor %}

{% endfor %}
